*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
    text-align: justify;
}
p{
    line-height: 2rem;
}
ul{         /*sup x dir x inf x ezq */
    padding: 1rem 1rem 1rem 4rem;
}
body{
    background:#f5f5f5;
}

header{
    background:#ffe600;
    padding:15px;
    text-align:center;
    font-size:24px;
    font-weight:bold;
}

.container{
    max-width:1200px;
    margin:30px auto;
    background:white;
    padding:20px;
    border-radius:10px;
    display:flex;
    gap:40px;
}

.galeria{
    flex:1;
}

.galeria img{
    width:100%;
    border-radius:10px;
}

.info{
    flex:1;
}

.titulo{
    font-size:28px;
    margin-bottom:15px;
}

.preco{
    font-size:40px;
    color:#00a650;
    margin-bottom:10px;
}

.parcela{
    color:#666;
    margin-bottom:20px;
}

.btn{
    background:#3483fa;
    color:white;
    border:none;
    padding:15px 30px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;
}

.botao:hover{
    background:#2968c8;
}

.descricao{
    max-width:1200px;
    margin:20px auto;
    background:white;
    padding:20px;
    border-radius:10px;
}

.descricao h2{
    margin-bottom:15px;
}

.caracteristicas{
    margin-top:20px;
}

.caracteristicas li{
    margin-bottom:10px;
}

@media(max-width:768px){

.container{
    flex-direction:column;
}

.preco{
    font-size:32px;
}

}
